<!-- BUTTON NAVIGATION -->

<!-- <nav>
  <ul class="nav">
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['new']">New</a></li>
    <li><a [routerLink]="['lists']">My Letters</a></li>
    <li><a [routerLink]="['forum']">Forum</a></li>
    <li><a [routerLink]="['search']">Search</a></li>
  </ul>
</nav> -->

<div class="container">


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="btn">
  <span class="fa fa-bars"></span>
  <ul>
    <li class="fa fa-user"><a [routerLink]="['']"></a></li>
      <li class="fa fa-pencil-square-o"><a [routerLink]="['new']"></a></li>
      <li class="fa fa-paper-plane"><a [routerLink]="['lists']"></a></li>
      <li class="fa fa-search"><a [routerLink]="['search']"></a></li>
      <li class="fa fa-cogs"></li>
  </ul>
</div>

</div>
