<!-- <div *ngIf ="isShowingForm"> -->

<!-- <div  id="plate" class="front">
                <form class="message" (ngSubmit)="makeAList()" >
                  <input type="text" placeholder="Create a Letter"
                      [(ngModel)]="newListTitle" name="newListTitle">
                  <br>

                  <input type="text" placeholder="Create a Letter"
                      [(ngModel)]="newListContent" name="newListContent">
                  <br>

                  <input type="text" placeholder="Create a Letter"
                      [(ngModel)]="newListTags" name="newListTag">
                  <br>

              <button class="send"> Send it </button> <br/>
                </form>


          </div> -->

          <div  id="plate" class="front">
            <h2 class="newLetter">New Letter</h2>
            <div id="box-container">

  <input style="height:200px" type="text" id="txtTest" name="what-ever-you-want" placeholder="What's on your mind?">
<br>

</div>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-row-padding">
  <div class="w3-third">
    <input class="w3-input w3-border" type="text" placeholder="#funny">
  </div>
  <div class="w3-third">
    <input class="w3-input w3-border" type="text" placeholder="#dabondatbih">
  </div>
  <div class="w3-third">
    <input class="w3-input w3-border" type="text" placeholder="#pizza">
  </div>
</div>

<button class="send" id="btnOk" type="button">Ok</button>

<link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        </div>

          <div id="container" class="beginning">
              <div id="left-wing">
                  <div class="top_left curvable"> </div>
                  <div class="bottom_left curvable"> </div>
                  <div class="wing wing1"></div>
                  <div class="wing wing2"></div>
              </div>

              <div id="right-wing">
                  <div class="top_right curvable"> </div>
                  <div class="bottom_right curvable"> </div>
                  <div class="wing wing3"></div>
                  <div class="wing wing4"></div>
              </div>

          </div>
<!-- </div> -->
